:root {
  --primary-color: #0e0d0d;
  --secondary-color: #b62919;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832_1280.jpg)
    no-repeat fixed center top;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.img {
  border-radius: 10px;
  background-color: transparent;
}

/* App Container */
.app {
  width: 500px;
  background-color: rgba(255, 255, 255, 0.788);
  opacity: 1;
  border-radius: 10px;
  box-shadow: 2px 6px 6px 6px rgba(0, 0, 0, 0.3);
  padding: 40px;
}

h1 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: var(--secondary-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  margin-bottom: 20px;
}

/* Searchbar & input */
#searchBar {
  background-color: rgba(255, 255, 255, 0.788);
  width: 100%;
  padding: 10px;
  border: 1px solid #ceabab;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
}

input:focus {
  border-color: var(--secondary-color);
  box-shadow: 0 0 5px var(--secondary-color);
  outline: none;
}

/* data from api */
.content {
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.city {
  text-transform: uppercase;
  font-size: 24px;
  margin-top: 20px;
  border-bottom: 1px solid black;
}

.temp {
  color: var(--secondary-color);
  margin-top: 20px;
}

.desc {
  text-transform: uppercase;
  color: var(--primary-color);
}

.icons {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

/* Icon Hidden */
.hidden {
  display: none;
}

.error {
  color: #fff;
  font-size: 24px;
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 0px 2px 5px rgba(226, 219, 219, 0.075);
  display: none;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
  color: red;
  opacity: 0.7;
}
